<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='finish.css') }}">
    <title>Timer</title>
</head>
<body>
  <div class="center">
    <h1>D + {{ left_days }}</h1>
    <div>
      <img src="https://i.ytimg.com/vi/MnQ69DvgxaY/maxresdefault.jpg">
      <h1>We will never be slaves!!</h1>
      <h2>But we will be conquerors.</h2>
    </div>
  </div>
</body>
</html>