<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Codeforces Contest Time Table"/>
    <meta property="og:url" content="https://codeforces.changm.in"/>
    <meta property="og:image" content="{{ image_link }}"/>
    <meta property="og:description"
          content="Next Contest: {{ next_contests[0].name }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Codeforces Contest Time Table</title>
  </head>
  <body>
    <div class="section bg">
      <h1 id="title">Codeforces Contest Time Table</h1>

      <div class="container">
        <h2 class="header">Next Contest</h2>
        {% for contest in next_contests %}
          <p>
            <span>{{ contest.name }}</span>
            <br />
            <span class="contest-date">{{ contest.date }}</span>
            <span class="contest-display-date">{{ contest.display_date }}</span>
            <br />
            <span class="before-date">
            </span>
          </p>
        {% endfor %}
      </div>

      <div class="container">
        <h2 class="header">Upcoming</h2>
        {% for contest in upcoming_contests %}
          <p>
            <span>{{ contest.name }}</span>
            <br />
            <span class="contest-date">{{ contest.date }}</span>
            <span class="contest-display-date">{{ contest.display_date }}</span>
            <br />
            <span class="before-date">
            </span>
          </p>
        {% endfor %}
      </div>

    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='moment-duration-format.js') }}"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
